#page {

    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: 0.5fr 40px 12fr 0.5fr;
    grid-template-areas: 'header header header'
                        'left meny right'
                        'left innhold right'
                        'left footer right';
    font-size: x-large;

}

#header {
    background-color: rgb(68, 177, 240);
    
    grid-area: header;
    font-size: 100%;
    text-size-adjust: 2%;
    text-align: center;
 
}
/* #header>button{
    height:40px;
    font-size:16pt;
} */

#left{
    background-color: rgb(68, 177, 240);
    grid-area: left;
}
#right{
    background-color: rgb(68, 177, 240);
    grid-area: right;
}

#meny {

    grid-area: meny;
    display: flex;

}
#meny>button {
    cursor: pointer;
    flex-grow: 1;
    font-size: 100%;
}

.headerdiv {
    display: flex;
    justify-content: center;
    
}


.headerbuttons {
    height:46px;
    font-size:16pt;
}

#innhold {
    background-color: olivedrab;
    grid-area: innhold;
}

#footer {

    font-size:80%;
    text-align: center;
    grid-area: footer;
    padding: 1%;

}

#logo {
    cursor:pointer;

}

button {
    cursor: pointer;
}

/* .searchBar{
    display: grid;
    justify-content: stretch;
    
} */
.dropDownSearch{
    color: black;
    font-size: 60%;
    border-collapse: collapse;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.searchItems{
    background-color: rgb(255, 255, 255);
    padding: 3px;

    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}
body{
    margin: 0%;
}