.container {
  width: inherit;
  height: 20vh;
}

.preview>img {
  width: 20vh;
}

.container>img {
  /* opacity: 50%; */
  z-index: 2;
  /* height: fit-content; */
}

#leftpic {
  opacity: 50%;
  z-index: 1;
}