.container {
  width: inherit;
  height: 20vh;
  display: flex;
  border-bottom: 1px solid gray;
}

.preview{
  display: grid;
  grid-template-columns: 20vh;
  font-size: 80%;
  margin: 2%;
}

.preview>img {
  width: 20vh;
  cursor: pointer;
}

.previews {
  display:flex;
  flex-wrap: wrap;
}
.previews>div {
 
  flex-shrink: 1;
}
.container>img {
  /* opacity: 50%; */
  flex-grow: 1;
  cursor: pointer;
  width: 50px;
  /* height: fit-content; */
}

.mainheader{
  font-weight: bold;
}

.container>img:hover {
transform: scale(1.1);
border: 3px groove grey;
}

.preview {
  padding: 8px;
  border: 1px solid black;
  background-color:  rgb(4, 31, 92);
  color: rgb(207, 207, 207);
}

