.container {
  width: inherit;
  height: 20vh;
  display: flex;
}

.preview{
  display: grid;
  grid-template-columns: 20vh;
  font-size: 80%;
  margin: 2%;
}

.preview>img {
  width: 20vh;
  cursor: pointer;
}

.previews {
  display:grid;
  grid-template-columns: auto auto auto;
}
.previews>div {
  flex-shrink: 1;
}
.container>img {
  /* opacity: 50%; */
  z-index: 2;
  flex-grow: 1;
  cursor: pointer;
  /* height: fit-content; */
}

.sidepic {
  opacity: 50%;
  z-index: 1;
}