.shoppingTable {
width: 100%;
height: 300px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

img {
width: 85px;
height: 75px;
image-rendering: -webkit-optimize-contrast;
}

.shoppingTable th,
.shoppingTable td {
border: 1px solid black;
padding: 8px;
text-align: left;
}

input.customInput {    
width: 30px;
height: 30px;
border: 1px solid black;
text-align: center;
border-radius: 5px;
font-weight: bold;
} 

table button.minus,
table button.plus{
background-color: blanchedalmond;
width: 30px;
height: 30px;
line-height: 30px;
text-align: center;
margin: 0;
border: none;
}

.description-cell {
font-size: 14px;
font-weight: bold;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

