/* body {
    overflow: hidden;
} */

.boxes {
    display: flex;
    justify-content: center;
    text-align: center;
}
.boxes2 {
    display: flex;
    justify-content: center;

}
.overskrift {
    background-color: olive;
    font-size: xx-large;
    font-weight: 900;
    color: black;
    border: 2px solid black;
    width: 50vw;
    width: 140px;
    text-align: center;
    margin: 1px;
    padding: 0px;
    height: 40px;

}
.box1 {
    border: 2px solid black;
    width: 50vw;
    height: 50px;
    position: absolute;
    top: 1px;

}
.box2 {
    border: 2px solid black;
    width: 50vw;
    height: 120px;
    top: 55px;
    position: absolute;
}
.box3 {
    border: 2px solid black;
    width: 50vw;
    height: 50px;
    top: 200px;
    position: absolute;
}
.box4 {
    border: 2px solid black;
    width: 50vw;
    height: 120px;
    top: 254px;
    position: absolute;
}
.box5 {
    border: 2px solid black;
    width: 50vw;
    height: 80px;
    top: 385px;
    position: absolute;

}
.box7 {
    border: 3px solid black;
    width: 51vw;
    height: 470px;
    top: 500px;
    position: absolute;
}