.listItem {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: auto auto 4fr;
  grid-template-areas: 
  'title title title'
  'stars stars price'
  'image description description';
 
  margin: 2%;
  border: 2px solid black;
  padding: 1%;
}
.listTitle{
  grid-area: title;
  
    font-size: 110%;
    font-weight: bold;
}
.listPrice{
  grid-area: price;
  justify-self: right;
}
.listImage{
  grid-area: image;
}
.listDescription{
  grid-area: description;
  font-size: 90%;
  margin-left: 2%;
}
.listStars{
  grid-area: stars;
}
