/* .productBox{
    border: 2px solid;
    width: 2250px;
    height: 1100px;
} */
#productDetailedGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 0.1fr 0.1fr 0.2fr 0.2fr 0.2fr; */
    grid-template-rows: 0.5fr 0.5fr 0.5fr 2fr 2fr;
    grid-template-areas:
        ' title title'
        ' stars stars'
        ' image price'
        ' image description'
        ' image description';
    margin: 5%;
}

.title {
    grid-area: title;
    font-size: 150%;
    font-family: 'Helvetica Neue 500', arial, sans-serif;
    font-weight: bold;
    
}

.stars {
    grid-area: stars;
    font-size: 120%;
    margin-bottom: 1%;
}
.shoppingcart{
    font-size: 60%;
}

.description {
    grid-area: description;
    font-size: 100%;
    margin-left: 10%;
    margin-top: 5%;
}

#mainPicture {
    grid-area: image;
    height: 40vh;
    max-width: fit-content;
}

.price {
    font-size: 110%;
    font-family: arial, Arial, Helvetica, sans-serif;
    /* border: 2px solid; */
    /* background-color: rgb(207, 207, 207); */
    margin-right: 10%;
    margin-bottom: 5%;
    width: max-content;
    padding: 1%;
    justify-self: end;
}

/*
.containerDescription{
    border: 2px solid;
    width: 200px;
    position: relative;
    left: 1300px;
    top: 330px;
    background-color: white;
}
.shoppingcart{
    position: relative;
    width: 272px;
    height: 40px;
    border: 2px solid blue;
    cursor: pointer;
    left: 65px;
    top: 40px;

}
.instock{
    position: relative;
    left: 65px;
    top: 60px;
    font-size: 15px;
}
.containerDet{
    width: 400px;
    height: 200px;
    
    border: 2px solid;
    position: relative;
    left: 800px;
    background-color: lightgray;
}

 */