.productBox{
    border: 2px solid;
    width: 2250px;
    height: 900px;
}
.title{
    position: relative;
    left: 40px;
    font-size: 50px;
    font-family: arial, Arial, Helvetica, sans-serif;
    top: 30px;
}
.description{
    position: relative;
    left: 1300px;
    font-size: 15px;
    top: 500px;
}
.price{
    position: relative;
    font-size: 40px;
    font-family: arial, Arial, Helvetica, sans-serif;
    border: 2px solid;
    width: 270px;
    height: 50px;
    background-color: white;
}
.mainPicture{
    position: relative;
    left: 40px;
    width: 1100px;
    height: 650px;
    bottom: 300px;
}
.shoppingcart{
    position: relative;
    width: 272px;
    height: 30px;
    border: 2px solid blue;
    cursor: pointer;
}
.stars{
    position: relative;
    left: 40px;
    font-size: 40px;
    bottom: 325px;
}
.instock{
    position: relative;
    font-size: 15px;
}
.container{
    width: 400px;
    left: 200px;
    border: 2px solid;
    position: relative;
    left: 1300px;
}



