
.centercontentprofile {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    font-size: xx-large
}

.profilediv{
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'left middle right';
    margin-top: 3%;
    margin-left: 3%;
}
.profileheaders{
    margin-bottom: 3%;
    font-size: x-large;
}

#midten {
    grid-area: middle;
    margin-left: 3%;
    
}
#høyre {
    grid-area: right;
}

.profileEditDiv > input{
    
    display: flex;
    justify-content: flex-end;
    
}
.profileEditDiv > div{
    font-size: large;
    font-weight: bold;

}